# Ignore the entire build directory
smart-coaster-esp32/build/

# Ignore SDK configuration backup files
smart-coaster-esp32/sdkconfig.old

#
smart-coaster-esp32/components/library/firebase_config.h
.vscode/
build/